*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 100%;
    margin: auto;
}
.fram{
    position: relative;
    height: 60px;
    left: 0px;
    top: 0px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 190px;
}
.logo{
    margin-left: 103px;
}
.nav-link ul{
    display: flex;
}
.nav-link ul li{
    margin-right: 23px;
    list-style-type: none;
    font-size: 19px;
}
.nav-link ul a{
    text-decoration: none;
    color: white;
}
.container .fram .logo h1{
    color: white;
    font-size: 33px;
}

.btn{
    width: 86px;
    height: 34px;
    left: 1072px;
    top: 32px;
    font-size: 19px;
    color: #E5E5E5;
    background: black;
    border: none;
    border-radius: 27px;
    filter: drop-shadow(2px 1.5px 10px #E5E5E5);
}
.btn:hover{
    filter: drop-shadow(2px 1.5px 10px blue);
}

.header{
    background: black;
}
.row{
    padding: 50px 103px 110px 100px ;
    display: flex;
}

.header .row .header-detail h1{
    /* position: absolute; */
    /* width: 1160px;
    height: 250px; */
    /* left: 103px; */
    font-size: 67px;
    line-height: 186%;
    font-weight: 400;
    /* or 125px */
    letter-spacing: 0.24em;
    color: white;
    
}
.header .row .header-detail p{
    /* position: absolute; */
    width: 984px;
    height: 110px;
    /* left: 103px; */
    font-size: 12px;
    line-height: 186%;
    /* or 22px */
    letter-spacing: 0.6em;
    color: #FFFFFF;
    margin-top: 40px;
}
.explore-btn{
    position: absolute;
    width: 108px;
    height: 34px;
    left: 103px;
    top: 560px;

    background: black;
    border: none;
    border-radius: 27px;
    font-size: 19px;
    color: white;
    filter: drop-shadow(2px 1.5px 4px #E5E5E5);
}
.explore-btn:hover{
    filter: drop-shadow(2px 1.5px 4px blue);
}
.more-btn{
    position: absolute;
    width: 87px;
    height: 34px;
    left: 244px;
    top: 560px;
    background: black;
    border: none;
    border-radius: 27px;
    font-size: 19px;
    color: white;
    filter: drop-shadow(2px 1.5px 4px #E5E5E5);
}
.more-btn:hover{
    filter: drop-shadow(2px 1.5px 4px blue);
}
.social-btn{
    margin-top: 30px;
}
.media{
    width: 41px;
    height: 41px;
    /* left: 1214px;
    top: 206px; */
    border-radius: 50px;
    background: black;
    box-shadow: 1.5px 1.5px 4px 1px #E5E5E5;
    padding: 10px 0px 0px 11px;
    margin-top: 50px;
}
.media:hover{
    box-shadow: 1.5px 1.5px 4px 1px blue;
}
.media i{ 
font-size: 18px;
}
.media-1{
    width: 41px;
    height: 41px;
    border-radius: 50px;
    background: black;
    box-shadow: -1.5px -1.5px 4px 1px #E5E5E5;
    padding: 10px 0px 0px 11px;
    margin-top: 50px;
}
.media-1 i{ 
    font-size: 18px;
    }
.media-1:hover{
    box-shadow: -1.5px -1.5px 4px 1px blue;
}


/* -about page- */

.about-sec{
    background-color: black;
}
.about-sec .container h1{
    margin-top: -40px;
    padding-left: 30px;
    padding-bottom: 50px;
    font-style: italic;
    font-weight: 100;
    font-size: 140px;
    letter-spacing: 0.6em;
    color: #FFFFFF;
    text-shadow: 12px 23px 15px rgba(172, 175, 20, 0.46);
}
.about-sec .container .about-col-1{
    display: flex;
}
.about-sec .container .about-col-1 .pera p{
    width: 702px;
    height: 220px;
    font-size: 12px;
    padding-left: 103px;
    padding-bottom: 280px;
    line-height: 186%;
    /* or 22px */
    letter-spacing: 0.6em;
    color: #FFFFFF;
}
.about-sec .container .about-col-1 .about-box .white-box{
    position: absolute;
    width: 421px;
    height: 386px;
    left: 819px;
    background: black;
    border: 3px solid #E5E5E5;
    box-sizing: border-box;
}
/* .about-sec .container .about-col-1 .about-box .white-box .white-img{
  
    width: 421px;
    height: 386px;
    background: url(images/pic-1.jpg), #0D0D0D;
  
} */
.about-sec .container .about-col-1 .about-box .white-box .white-img img{
    margin-left: -50px;
    margin-top: 40px;
    width: 421px;
    height: 386px;
    object-fit: cover;
    box-shadow: -1px 1px 7px -19px rgba(229, 229, 229, 0.92);
}
.about-sec .container .about-col-2{
    display: flex;
}
.about-sec .container .about-col-2 .about-box .white-box{
   position: absolute;
    width: 421px;
    height: 386px;
    /* left: 103px; */
    background: black;
    border: 3px solid #E5E5E5;
    box-sizing: border-box;
    margin-left: 103px;
}
.about-sec .container .about-col-2 .about-box .white-box .white-img img{
    margin-left: 40px;
    margin-top: 40px;
    width: 421px;
    height: 386px;
    object-fit: cover;
    box-shadow: -1px 1px 7px -19px rgba(229, 229, 229, 0.92);
}
/* .about-sec .container .about-col-2 .pera{
    display: flex;
    flex-direction: column;
} */
.about-sec .container .about-col-2 .pera p{
    /* position: absolute; */
    width: 600px;
    height: 220px;
    margin-left: 660px;
    padding-bottom: 280px;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */
    letter-spacing: 0.6em;
    color: #FFFFFF;
}
.about-sec .container .about-col-3 .together-img{
    display: flex;
}
.about-sec .container .about-col-3 .together-img .img-1 img{
    width: 371px;
    height: 382px;
    margin-left: 103px;
    object-fit: cover;
}
.about-sec .container .about-col-3 .together-img .img-2 .div-1{
    display: flex;
    flex-direction: column;
}
.about-sec .container .about-col-3 .together-img .img-2 .div-1 img{
    width: 182px;
    height: 182px;
    margin-left: 20px;
    margin-bottom: 20px;
    object-fit: cover;
}
/* .about-sec .container .about-col-3 .together-img .img-2 .div-2 img{
    width: 182px;
    height: 182px;
    margin-left: 20px;
    object-fit: cover;
    margin-top: 200px;
} */

.about-sec .container .about-col-3 .together-img .img-3 img{
    width: 555px;
    height: 382px;
    margin-left: 20px;
    object-fit: cover;
}

.about-sec .container .about-col-3 .pera-last{
    width: 1128px;
    height: 132px;
    margin-left: 103px;
    padding-bottom: 150px;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */
    letter-spacing: 0.6em;
    color: #FFFFFF;
}


/* ----services page---- */
 .services-sec{
     background: black;
 }
 .services-sec .container .services h1{
    width: 100%;
    height: 279px;
    font-style: italic;
    font-weight: 100;
    font-size: 148px;
    line-height: 186%;
    margin-top: -50px;
    /* identical to box height, or 279px */
    letter-spacing: 0.6em;
    color: #FFFFFF;
    text-shadow: 12px 23px 15px #385069;
 }
 .services-sec .container .services-col{
     display: flex;
     margin-left: 103px;
 }
 .services-sec .container .services-col .ser-icon{
    width: 120px;
    height: 120px;
    background: #C4C4C4;
    margin-right: 20px;
 }
 .services-sec .container .services-col .ser-icon .iconify{
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 30px;
 }
 .services-sec .container .services-col .ser-img {
     margin-right: 20px;
     margin-bottom: 10px;
 }
 .services-sec .container .services-col .ser-img img{
    /* position: absolute; */
    width: 120px;
    height: 120px;
    left: 260px;
    object-fit: cover;
 }
 .services-sec .container .services-col .ser-dtl{
    width: 837px;
    height: 83px;
 }
 .services-sec .container .services-col .ser-dtl h3{
    width: 475px;
    height: 48px;
    font-size: 26px;
    line-height: 186%;
    /* or 48px */
    letter-spacing: 0.24em;
    color: #FFFFFF;
    margin-left: 20px;
 }
 .services-sec .container .services-col .ser-dtl p{
    width: 837px;
    height: 41px;
    font-size: 13px;
    line-height: 186%;
    /* or 24px */
    letter-spacing: 0.6em;
    color: #FFFFFF;
    margin-left: 20px;
 }

 /* ---blog Page---- */

 .blog-sec{
     background: black;
 }
 .blog-sec .container .blog h1{
    width: 100%;
    height: 260px;
    font-style: italic;
    font-weight: 200;
    font-size: 138px;
    line-height: 186%;
    /* or 260px */  
    letter-spacing: 0.6em;
    color: #FFFFFF;
    text-shadow: 12px 23px 15px #88302E;
 }
 .blog-sec .container .blog-post img{
    width: 1128px;
    height: 354px;
    object-fit: cover;
    margin-left: 103px;
 }
 .blog-sec .container .blog-post .head-com{
     display: flex;
     color: blanchedalmond;
 }
 .blog-sec .container .blog-post .head-com h3{
    width: 849px;
    height: 60px;
    font-size: 30px;
    line-height: 186%;
    /* identical to box height, or 60px */
    letter-spacing: 0.6em;
    color: #FFFFFF;
    margin-left: 103px;
 }
 .blog-sec .container .blog-post .head-com p{
    width: 199px;
    height: 28px;
    font-size: 15px;
    line-height: 186%;
    /* identical to box height, or 28px */
    letter-spacing: 0.6em;
    color: #FFFFFF;
    margin-top: 15px;
    margin-left: 70px;
 }
 .blog-sec .container .blog-post p{

    width: 1128px;
    height: 242px;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */
    letter-spacing: 0.6em;
    color: #FFFFFF;
    margin-left: 103px;
 }
 .blog-sec .container .blog-post .blog-btn{

 }
 .read-btn{
     
 }