*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}



/* mobile nav start */
.mobile-nav{
   display: none;
   background: black;
   
}
.mobile-nav .mobile ul{
    display: flex;
    justify-content: center;
    color: blanchedalmond;
}
.mobile-nav .mobile ul li{
    /* width: 30px;
    height: 30px; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 2px;
    /* margin-right: 25px; */
    list-style-type: none;
    border: 1px solid black;
}
.mobile-nav .mobile ul li a .iconify{
    width: 30px;
    height: 30px;
}



/* mobile nav end */


.container{
    max-width: 100%;
    margin: auto;
}
.fram{
    position: relative;
    height: 60px;
    left: 0px;
    top: 0px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 190px;
}
.logo{
    margin-left: 103px;
}
.nav-link ul{
    display: flex;
}
.nav-link ul li{
    margin-right: 23px;
    list-style-type: none;
    font-size: 19px;
}
.nav-link ul a{
    text-decoration: none;
    color: white;
}
.container .fram .logo h1{
    color: white;
    font-size: 33px;
}

.btn{
    width: 86px;
    height: 34px;
    left: 1072px;
    top: 32px;
    font-size: 19px;
    color: #E5E5E5;
    background: black;
    border: none;
    border-radius: 27px;
    filter: drop-shadow(2px 1.5px 10px #E5E5E5);
}
.btn:hover{
    filter: drop-shadow(2px 1.5px 10px blue);
}
.header{
    background: black;
}
.row{
    padding: 50px 103px 110px 100px ;
    display: flex;
}

.header .row .header-detail h1{
    font-size: 67px;
    line-height: 186%;
    font-weight: 400;
    letter-spacing: 0.24em;
    color: white;
    
}
.header .row .header-detail p{
    width: 984px;
    height: 110px;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.6em;
    color: #FFFFFF;
    margin-top: 40px;
}
.explore-btn{
    position: absolute;
    width: 108px;
    height: 34px;
    left: 103px;
    top: 560px;
    background: black;
    border: none;
    border-radius: 27px;
    font-size: 19px;
    color: white;
    filter: drop-shadow(2px 1.5px 4px #E5E5E5);
}
.explore-btn:hover{
    filter: drop-shadow(2px 1.5px 4px blue);
}
.more-btn{
    position: absolute;
    width: 87px;
    height: 34px;
    left: 244px;
    top: 560px;
    background: black;
    border: none;
    border-radius: 27px;
    font-size: 19px;
    color: white;
    filter: drop-shadow(2px 1.5px 4px #E5E5E5);
}
.more-btn:hover{
    filter: drop-shadow(2px 1.5px 4px blue);
}
.social-btn{
    margin-top: 30px;
}
.media{
    width: 41px;
    height: 41px;
    border-radius: 50px;
    background: black;
    box-shadow: 1.5px 1.5px 4px 1px #E5E5E5;
    padding: 10px 0px 0px 11px;
    margin-top: 50px;
}
.media:hover{
    box-shadow: 1.5px 1.5px 4px 1px blue;
}
.media i{ 
font-size: 18px;
}
.media-1{
    width: 41px;
    height: 41px;
    border-radius: 50px;
    background: black;
    box-shadow: -1.5px -1.5px 4px 1px #E5E5E5;
    padding: 10px 0px 0px 11px;
    margin-top: 50px;
}
.media-1 i{ 
    font-size: 18px;
    }
.media-1:hover{
    box-shadow: -1.5px -1.5px 4px 1px blue;
}


/* -about page- */

.about-sec{
    background-color: black;
}
.about-sec .container .about h1{
    width: 100%;
    height: 279px;
    font-style: italic;
    font-weight: 100;
    font-size: 140px;
    line-height: 186%;
    padding-left: 10px;
    margin-top: -50px;
    letter-spacing: 0.6em;
    color: #FFFFFF;
    text-shadow: 12px 23px 15px #385069;
}
.about-sec .container h1:hover{
    text-shadow: 12px 23px 15px blue;
}
.about-sec .container .about-col-1{
    display: flex;
}
.about-sec .container .about-col-1 .pera p{
    width: 702px;
    height: 220px;
    font-size: 12px;
    padding-left: 103px;
    padding-bottom: 280px;
    line-height: 186%;
    letter-spacing: 0.6em;
    color: #FFFFFF;
}
.about-sec .container .about-col-1 .about-box .white-box{
    position: absolute;
    width: 421px;
    height: 386px;
    left: 819px;
    background: black;
    border: 3px solid #E5E5E5;
    box-sizing: border-box;
}
.about-sec .container .about-col-1 .about-box .white-box .white-img img{
    margin-left: -50px;
    margin-top: 40px;
    width: 421px;
    height: 386px;
    object-fit: cover;
    box-shadow: -1px 1px 7px -19px rgba(229, 229, 229, 0.92);
}
.about-sec .container .about-col-2{
    display: flex;
}
.about-sec .container .about-col-2 .about-box .white-box{
   position: absolute;
    width: 421px;
    height: 386px;
    background: black;
    border: 3px solid #E5E5E5;
    box-sizing: border-box;
    margin-left: 103px;
}
.about-sec .container .about-col-2 .about-box .white-box .white-img img{
    margin-left: 40px;
    margin-top: 40px;
    width: 421px;
    height: 386px;
    object-fit: cover;
    box-shadow: -1px 1px 7px -19px rgba(229, 229, 229, 0.92);
}
.about-sec .container .about-col-2 .pera p{
    width: 600px;
    height: 220px;
    margin-left: 660px;
    padding-bottom: 280px;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.6em;
    color: #FFFFFF;
}
.about-sec .container .about-col-3 .together-img{
    display: flex;
}
.about-sec .container .about-col-3 .together-img .img-1 img{
    width: 371px;
    height: 382px;
    margin-left: 103px;
    object-fit: cover;
}
.about-sec .container .about-col-3 .together-img .img-2 .div-1{
    display: flex;
    flex-direction: column;
}
.about-sec .container .about-col-3 .together-img .img-2 .div-1 img{
    width: 182px;
    height: 182px;
    margin-left: 20px;
    margin-bottom: 20px;
    object-fit: cover;
}
.about-sec .container .about-col-3 .together-img .img-3 img{
    width: 555px;
    height: 382px;
    margin-left: 20px;
    object-fit: cover;
}

.about-sec .container .about-col-3 p {
    width: 1128px;
    height: 132px;
    margin-left: 103px;
    padding-bottom: 150px;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.6em;
    color: #FFFFFF;
}


/* ----services page---- */
 .services-sec{
     background: black;
 }
 .services-sec .container .services h1{
    width: 100%;
    height: 279px;
    font-style: italic;
    font-weight: 100;
    font-size: 148px;
    line-height: 186%;
    margin-top: -50px;
    letter-spacing: 0.6em;
    color: #FFFFFF;
    text-shadow: 12px 23px 15px #385069;
 }
 .services-sec .container .services h1:hover{
    text-shadow: 12px 23px 15px blue;
}
 .services-sec .container .services-col{
     display: flex;
     margin-left: 103px;
 }
 .services-sec .container .services-col .ser-icon{
    width: 120px;
    height: 120px;
    background: #C4C4C4;
    margin-right: 20px;
 }
 .services-sec .container .services-col .ser-icon .iconify{
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 30px;
 }
 .services-sec .container .services-col .ser-img {
     margin-right: 20px;
     margin-bottom: 10px;
 }
 .services-sec .container .services-col .ser-img img{
    width: 120px;
    height: 120px;
    left: 260px;
    object-fit: cover;
 }
 .services-sec .container .services-col .ser-dtl{
    width: 837px;
    height: 83px;
 }
 .services-sec .container .services-col .ser-dtl h3{
    width: 475px;
    height: 48px;
    font-size: 26px;
    line-height: 186%;
    letter-spacing: 0.24em;
    color: #FFFFFF;
    margin-left: 20px;
 }
 .services-sec .container .services-col .ser-dtl p{
    width: 837px;
    height: 41px;
    font-size: 13px;
    line-height: 186%;
    letter-spacing: 0.6em;
    color: #FFFFFF;
    margin-left: 20px;
 }
 /* ---blog Page---- */
 .blog-sec{
     background: black;
 }
 .blog-sec .container .blog h1{
    width: 100%;
    height: 260px;
    font-style: italic;
    font-weight: 200;
    font-size: 138px;
    line-height: 186%;
    letter-spacing: 0.6em;
    color: #FFFFFF;
    text-shadow: 12px 23px 15px #88302E;
 }
 .blog-sec .container .blog h1:hover{
    text-shadow: 12px 23px 15px blue;
}
 .blog-sec .container .blog-post img{
    width: 1128px;
    height: 354px;
    object-fit: cover;
    margin-left: 103px;
 }
 .blog-sec .container .blog-post .head-com{
     display: flex;
     color: blanchedalmond;
 }
 .blog-sec .container .blog-post .head-com h3{
    width: 849px;
    height: 60px;
    font-size: 30px;
    line-height: 186%;
    letter-spacing: 0.6em;
    color: #FFFFFF;
    margin-left: 103px;
 }
 .blog-sec .container .blog-post .head-com p{
    width: 199px;
    height: 28px;
    font-size: 15px;
    line-height: 186%;
    letter-spacing: 0.6em;
    color: #FFFFFF;
    margin-top: 15px;
    margin-left: 70px;
 }
 .blog-sec .container .blog-post p{
    width: 1128px;
    height: 242px;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.6em;
    color: #FFFFFF;
    margin-left: 103px;
 }
 .read-btn{
    width: 87px;
    height: 34px;
    background: black;
    border: none;
    border-radius: 27px;
    font-size: 19px;
    color: white;
    filter: drop-shadow(2px 1.5px 4px #E5E5E5);
    margin-left: 45%;
    margin-top: 20px;
 }
 .read-btn:hover{
    filter: drop-shadow(2px 1.5px 4px blue);
 }
/* --contact page--- */
.contact-sec{
    background: black;
    padding-bottom: 30px;
}
.contact-sec .container .contact h1{
    width: 100%;
    height: 260px;
    font-style: italic;
    font-weight: 200;
    font-size: 140px;
    line-height: 186%;
    letter-spacing: 0.6em;
    color: #FFFFFF;
    text-shadow: 12px 23px 15px #385069;
}
.contact-sec .container .contact h1:hover{
    text-shadow: 12px 23px 15px blue;
}
.contact-sec .container .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.contact-sec .container .flex .con-dtl h4{
    width: 215px;
    height: 43px;
    font-size: 23px;
    line-height: 186%;
    letter-spacing: 0.24em;
    color: #FFFFFF;
    margin-left: 103px;
}
.contact-sec .container .flex .con-dtl p{
    width: 486px;
    height: 44px;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.6em;
    color: #FFFFFF;
    margin-left: 103px;
}
.contact-sec .container .flex .con-dtl .cont-ver .cont-inf{
    display: flex;
    margin-left: 103px;
    margin-top: 40px;
    align-items: center;
}
.contact-sec .container .flex .con-dtl .cont-ver .cont-inf p{
    width: 367px;
    height: 28px;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.24em;
    color: #FFFFFF;
    margin-left: 40px;
}
.contact-sec .container .flex .con-dtl .cont-ver .cont-inf .iconify{
    width: 30px;
    height: 30px;
}

.contact-sec .container .flex .form{
    width: 509px;
    height: 314px;
    background:black;
    box-shadow: 2px 1.5px 8px blue;
    border-radius: 23px;
    padding: 30px 55px;
    margin-right: 103px;
}
.contact-sec .container .flex .form .input-1{
    width: 387px;
    height: 34px;
    background: #000000;
    border: none;
    border-radius: 23px;
    box-shadow: 2px 1.5px 8px blue;
    margin-bottom: 20px;
    color: white;
    padding-left: 20px;
}
.contact-sec .container .flex .form .input-1:hover{
    box-shadow: 2px 1.5px 8px white;
}

.contact-sec .container .flex .form .input-2{
    width: 387px;
    height: 100px;
    background: #000000;
    box-shadow: 2px 1.5px 8px blue;
    border: none;
    border-radius: 23px;
    color: white;
    padding-left: 20px;
}
.contact-sec .container .flex .form .input-2:hover{
    box-shadow: 2px 1.5px 8px white;
}
.input-1::placeholder {
    color: rgba(229, 229, 229, 0.35);
  }
.input-2::placeholder {
    color: rgba(229, 229, 229, 0.35);
  }

.send-btn{
    width: 87px;
    height: 34px;
    background: black;
    border: none;
    border-radius: 27px;
    font-size: 19px;
    color: white;
    filter: drop-shadow(2px 1.5px 4px blue);
    margin-left: 150px;
    margin-top: 20px;
}

.send-btn:hover{
    filter: drop-shadow(2px 1.5px 4px white);
 }

 /* ---footer page---- */
 .footer-sec{
     background-color: black;
 }
.footer-sec .container .social-btn{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}
.footer-sec .container .social-btn .media{
    margin-left: 30px;
    margin-right: 30px;
}
.footer-sec .container{
    color: white;
}
.footer-sec p{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 22px;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.6em;
    color: #FFFFFF;
}



/*------ resposive area----------- */

@media only screen and (max-width: 992px){ 
    .nav{
        margin-right: 90px;  
    }
    .row{  
        padding-bottom: 200px;
    }
    .header .row .header-detail h1{  
        font-size: 42px;
        font-weight: 600; 
    }
    .header .row .header-detail p{ 
        width: 674px;
    }
    .explore-btn{ 
        top: 520px;
    }
    .more-btn{ 
        top: 520px;
    }
    /* --about-- */
    .about-sec .container .about h1{ 
        font-size: 100px;
    }
    .about-sec .container .about-col-1{
        margin-top: -50px;
    }
    .about-sec .container .about-col-1 .pera p{  
        width: 450px;
        font-size: 9px;
        padding-bottom: 80px;
        line-height: 136%;
    }
    .about-sec .container .about-col-1 .about-box .white-box{ 
        width: 321px;
        height: 286px;
        left: 539px;
    }
    .about-sec .container .about-col-1 .about-box .white-box .white-img img{ 
        width: 321px;
        height: 286px;
    }
    .about-sec .container .about-col-2 .about-box .white-box{ 
        width: 321px;
        height: 286px;
        margin-left: 103px;
    }
    .about-sec .container .about-col-2 .about-box .white-box .white-img img{ 
        margin-left: 40px;
        margin-top: 40px;
        width: 321px;
        height: 286px;
    }
    .about-sec .container .about-col-2 .pera p{ 
        margin-left: 500px;
        width: 470px;
        font-size: 9px;
        padding-bottom: 80px;
        line-height: 136%;
        padding-right: 110px;
    }
    .about-sec .container .about-col-3 .together-img .img-1 img{ 
        width: 271px;
        height: 245px;
    }
    .about-sec .container .about-col-3 .together-img .img-2 .div-1 img{
        width: 112px;
        height: 112px;
    }
    .about-sec .container .about-col-3 .together-img .img-3 img{ 
        width: 340px;
        height: 245px;
    }
    .about-sec .container .about-col-3 p{ 
        width: 865px;
        height: 9px;
        font-size: 9px;
        padding-right: 100px;
         line-height: 136%;
    }
    /* --sevices-- */
    .services-sec{
        background: black;
    }
    .services-sec .container .services h1{ 
       font-size: 100px;
    }
    .services-sec .container .services-col{ 
       margin-top: -45px;
       padding-bottom: 45px;
    }
    .services-sec .container .services-col .ser-icon{ 
       width: 70px;
       height: 70px;
    }
    .services-sec .container .services-col .ser-icon .iconify{ 
       width: 30px;
       height: 30px;
       margin-left: 20px;
       margin-top: 20px;
       margin-right: 20px;
    }
    .services-sec .container .services-col .ser-img img{ 
       width: 70px;
       height: 70px;
    }
    .services-sec .container .services-col .ser-dtl h3{  
       width: 475px;
       height: 31px;
       line-height: 136%;
    }
    .services-sec .container .services-col .ser-dtl p{  
       width: 580px;
       font-size: 9px;
       line-height: 136%;
    }
    /* --blog-- */
    .blog-sec .container .blog h1{ 
       font-size: 98px;
       margin-top: -30px;
    }
    .blog-sec .container .blog-post img{ 
        margin-top: -30px;
       width: 748px;
       height: 254px;
    }
    .blog-sec .container .blog-post .head-com h3{
       width: 485px;
       height: 40px;
       font-size: 18px;
       line-height: 136%;
    }
    .blog-sec .container .blog-post .head-com p{ 
       width: 199px;
       line-height: 136%;
       margin-top: 1px;
    }
    .blog-sec .container .blog-post p{ 
       width: 780px;
       height: 140px;
       font-size: 9px;
       line-height: 136%;
    }
    /* --contact- */ 
    .contact-sec .container .contact h1{ 
        font-size: 100px;
        padding-top: 30px;
    }
    .contact-sec .container .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
    }
    .contact-sec .container .flex .con-dtl h4{  
        height: 29px;
        font-size: 18px;
        line-height: 136%;
    }
    .contact-sec .container .flex .con-dtl p{ 
        width: 286px;
        height: 22px;
        font-size: 9px;
        line-height: 136%;
    }
    .contact-sec .container .flex .con-dtl .cont-ver .cont-inf{ 
        height: 12px;
    }
    .contact-sec .container .flex .con-dtl .cont-ver .cont-inf p{ 
        width: 260px;
        font-size: 9px;
        line-height: 136%;
        margin-left: 20px;
        margin-top: 15px;
    }
    .contact-sec .container .flex .con-dtl .cont-ver .cont-inf .iconify{ 
        width: 20px;
        height: 20px;
    }
    
    .contact-sec .container .flex .form{ 
        width: 400px;
        height: 230px;
        padding-top: 20px;
    }
    .contact-sec .container .flex .form .input-1{
        width: 290px;
        height: 24px;
    }
    .contact-sec .container .flex .form .input-2{ 
        width: 290px;
        height: 60px;
    }
    .send-btn{ 
        width: 67px;
        height: 24px;
        font-size: 12px;
        margin-left: 110px;
        margin-top: 20px;
    }    
}

@media only screen and (max-width: 576px){
    .mobile-nav{
        display: none;
     }
     .fram{
        display: none;
    }
}